.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.full-form {
  display: flex;
}

.main-form div {
  display: flex;
}

.main-form input {
  display: block;
}

.main-form * {
  text-align: left;
  margin: 10px;
  list-style: none;
  /* width: 500px; */
  /* clear:both; */
}

.main-form button {
  background: green;
  color: white;
  border-radius: 5px;
}

.item-form li {
 float:left;
}

.item-form {
  background:lightgray;
}

table * {
  padding: 5px;
}